@charset "UTF-8";

header{
  display:flex;
  width: 100%;
  height: 70px;
  background-color: lime;
  align-items: center;
}

#title{
  margin-left:30px;
  color:blue;
}

#menu-brock{
	margin-left:auto;
	margin-right:15px;
}


#menu-item {
  list-style: none;
  display: inline-block;
  font-size:20px;
  margin:10px;
}

h2,h3{
 text-align:center;
}

#handList{
  text-align:center;
  font-size:20px
}

#handSubmit{
  font-size:20px;
}

#imageHand{
    text-align:center;
}

#vsStr{
    font-size:20px
}

.winsign{
     color:red;
}

.losesign{
     color:blue;
}

#buttonBrock{
	text-align:center;
}

#buttonBrock form{
	display: inline-block;
}

#retry{
     text-align:center;
     font-size:20px;
}

#send{
     text-align:center;
     font-size:20px;
}
